---
layout: default
title: Heikki Uljas
---

<script type="text/javascript">
$(function() {
  $(".categories a").click(function() {
    $(".categories a.selected").removeClass("selected");
    $(this).addClass("selected");
    if ($(this).hasClass("show-all")) {
      $(".posts a").parent().show();
    } else {
      var category = $(this).find("span").html();
      $(".posts a").each(function() {
	if ($(this).attr("href").indexOf("/" + category + "/") < 0) {
	  $(this).parent().hide();
	} else {
	  $(this).parent().show();
	}      
      });
    }
    return false;
  });
});
</script>

<div id="home">
  <div class="categories">
  <header>
    <span>Hi, I'm Heikki Uljas and</span>
    <h1>this is my blog.</h1>
    <span>I have lot of ideas to write about but I'm splitting my time between coding (for living), family, house and various other stuff including this blog.</span>
  </header>  
    <a href="#" class="show-all selected"><span>all</span></a>
    {% for category in site.categories %}
      <a href="#"><span>{{ category | first }}</span></a>
    {% endfor %}
  </div>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>